<h1>This is the show page for <%= @player.name %></h1>

<table style="width:10%">
 	<thead>
 		<tr>
 			<td>Name</td>
 			<td>Age</td>
 		</tr>
 	</thead>
 	
 	<tbody>
 		<tr>
 			<td><%= @player.name %></td>
 			<td><%= @player.age %></td>
 		</tr>
 	</tbody>	
</table>

<a href="/players">Home Page</a>